[2021-01-31 06:40] TomberWolf opened #1 "Repeat?"
Hey,

thanks for this script.
Do you think you could add a repeat feature?

Best
Tom

[2021-02-06 02:21] rorosaurus commented on #1
You can add `loop` to the video tag after `autoplay`, that will automatically loop the first randomly selected video. But without modifying the code more, the next video will never play.

[2021-02-06 02:32] rorosaurus commented on #1
I made some alterations to the code, so it will

* loop a randomly selected video until
* the next random video starts every 3 minutes
* with fade in/out to black transitions in-between each new video

https://github.com/rorosaurus/obs-random-video

[2021-02-11 05:56] TomberWolf opened #2 "Transition video between random files?"
Hey,

I'm wondering if it'spossible to have a video file working as transition between the random files?
That would give us a nice cutting effect.

Example:

randomvid53
transvid
randomvi34
transvid
randomvid0459
transvid
randomvid349

[2021-04-13 02:52] jaredkotoff commented on #1
What do you mean by repeat? It should loop through all the videos over and over again.
A single video? Just only put the 1 video in the array and it'll repeat it forever.

[2021-04-13 05:18] jaredkotoff commented on #2
Just added this. Check out the new version

[2021-04-13 05:18] #2 closed

[2021-04-13 05:18] jaredkotoff commented on #1
Added some support for looping videos in the latest version. Let me know if this does what you need!

[2021-04-21 09:14] CatharsisDrums opened #4 "Lost and I don't know how"
Maybe you could have better luck figuring out why nothing worked for me? I went through all your listed steps and added everything to OBS as noted, but it never so much as played one of these and I'm lost as to why (and yes, the index is in the same folder as my music)

![2021-04-21_04-10-53](https://user-images.githubusercontent.com/48420809/115528394-9f18f700-a257-11eb-9ad5-e351f7023d1c.png)

[2021-04-25 08:17] jaredkotoff commented on #4
@CatharsisDrums can you change those empty strings you have from `'""' ` to just `"" `
If that still doesn't work, open the files in chrome, open dev tools (control + shift + J), and post a screenshot of the console

[2021-04-25 08:38] StarSpangledSquid opened #5 "Small black screen when reloading video"
Hey! I really love this, it's been a great help for my stream!

One tiny little thing - I have it to randomly select one video and loop it. However, when it loops, it cuts to a black screen for a second, then restarts the video. Is there a way to get rid of this cut so that it loops seamlessly?

[2021-04-26 08:08] CatharsisDrums commented on #4
![2021-04-26_03-03-16](https://user-images.githubusercontent.com/48420809/116049524-fc3bf080-a63b-11eb-906a-324681233079.png)
There's that. It's times like this I wish I had more of a grasp on things than loose comprehension and basic css (the most popular thing, obviously)

[2021-04-26 08:24] #4 closed

[2021-04-27 02:46] jaredkotoff commented on #4
@CatharsisDrums well its never to late to learn! There's lot of free resources online and I've actually been working on this on my stream every Monday

[2021-04-28 06:54] jaredkotoff commented on #5
@StarSpangledSquid Hmm, I think that might be improved by trying to preload the next video somehow.
Could share two videos you're having issues with so I can see the issue myself?
You can upload them to something like file.io, google drive, or dropbox.

If anything, I could probably improve the video by setting the faststart flag: https://stackoverflow.com/questions/50914503/fastest-way-to-add-mov

[2021-04-28 06:54] #1 closed

[2021-05-02 07:12] StarSpangledSquid commented on #5
Hey! I gave that a try using Handbrake but there wasn't any difference. Here's a quick video showing the problem: https://i.gyazo.com/9a34069a9f357bbe98c4b5fe23afe99e.mp4

[2021-05-02 07:26] jaredkotoff commented on #5
@StarSpangledSquid can you send me the actual video and your HTML that you're using. I was working on a potential solution for this now see your example it may not fix your issue

[2021-05-02 07:32] StarSpangledSquid commented on #5
Sure thing! Here's the files -
https://drive.google.com/drive/folders/1InX5KjyAr7OEJ18IIypkuSedo_h1REkM?usp=sharing

It happens specifically at the end of the video, when it loops - and it does it with every video I add in there.

[2021-05-02 07:37] jaredkotoff commented on #5
Ok yep, i kind of speculated something like this but I wasn't considering single video looping having this issue. So keep an eye out for the next version release after 3.0.0, I'll try to have a fix in there for this.

[2021-05-04 05:24] jaredkotoff commented on #5
@StarSpangledSquid yep, so after i trimmed out that first frame the video seemed to play pretty good afterward.
But, I also released v3.0.1 which should have even more improvements in it.
So give that a shot and reopen this if you're still having issues, but check your videos for any other extra frames at the start or end first!

[2021-05-04 05:24] #5 closed

[2021-05-07 15:47] sambaptista opened #7 "Nothing happens when executing exe file"
Everything is in the title.

Btw, windows 10 pro here. I put exe in folder with all videos. When executing .exe the only thing that happens is the brief lost of focus on the exlorer window.

[2021-05-10 19:42] frazley opened #8 "Keep Track of Recently Played Videos"
Does the software have any algorithm to not repeat videos if one of the last 4-5 videos played? Like a list of what's recently been played that keeps cycling through what's in the list.

[2021-05-11 03:12] jaredkotoff commented on #8
The way it works is it shuffles the video on load and then just loops through that. So no need to keep track of anything since it follows a linear list that has already been randomized once.

[2021-05-11 03:15] jaredkotoff commented on #7
Try running it via the command line. So you can see what it says before it closes.
Are you video files a supported format?

[2021-05-12 21:04] jaredkotoff commented on #8
Thinking about it, wonder how OBS handles cookies or local storage.

I'm assuming your issue is that you dont want the same video to play twice in a row when using the single video option.
If i can store stuff in the OBS chrome session i can maybe come up with a fix for this to keep info cross new loads

[2021-05-12 21:06] frazley commented on #8
Meant to reply back and got busy, that's what I'm looking for. Cause I want it to be random each time we go to this scene.

[2021-05-17 01:33] jaredkotoff commented on #7
Ok, try v3.1.0
Think this should fix your issue or at least give you a better screen to show me.
Re-open this if it still doesn't work

[2021-05-17 01:33] #7 closed

[2021-05-17 01:34] jaredkotoff commented on #8
Got it in v3.1.0
Let me know if it works for you

[2021-05-17 11:21] frazley commented on #8
Thank you! Updating now. :)

[2021-05-18 21:11] jaredkotoff commented on #8
No update so I'm going to assume this is working

[2021-05-18 21:11] #8 closed

[2021-05-19 02:37] FC360D opened #10 "Loop not smooth"
I have a few videos and have them set to randomly loop 1 of the videos when I switch to the scene in OBS however I've noticed the videos don't loop smoothly, when the videos end I can see a split second stutter which isn't there if I add the videos using OBS's media option. Is this just a issue with html or is there a way of making the loop smooth when it loops?

[2021-05-19 19:42] jaredkotoff commented on #10
Can you test in your browser? You'll need to right click, and click "show controls" to get it to play
The videos play as smooth as I think i can do anything to get them too. But trying in your browser should show how it "should" look.
Sometimes OBS might struggle with browser sources.
Things you can try:
* make sure its not in your video files (another user asked about a flicker in the loop but th

[2021-05-19 20:08] FC360D commented on #10
Yeah it does the same in the browser too, VLC and windows 10 video player has it too. If I pay very close attention to OBS I can just about see it but it's barely visible which is interesting as I didn't notice it when using media source until I watched the video loop 8 times lol. I'm not sure there's really a way of getting it smoother so I might just look at different longer loops as these are o

[2021-06-01 05:04] jaredkotoff opened #11 "Support images"

[2021-07-12 00:21] thecoreyburton opened #14 "Support additional (or custom) file types"
Would it be possible to add support for other file types (namely MKV for video and FLAC for audio) to this tool? Most of my sources are encoded to either of these two formats and I'd like to avoid transcoding them if possible.

Currently I work around this limitation by duplicating my files into a new directory and renaming them (eg. renaming all my FLAC files to OGG) and it works well, but it'd b

[2021-07-12 07:05] jaredkotoff commented on #14
It might be possible, but I don't think those are a good idea few reasons.
1. their file size could slow things down and take up more memory.
2. they're not streamable formats, this can result in a number of issues.

[2021-07-16 21:39] NeoAbsolution opened #15 "Audio jitter one source startup (Changing scenes)"
I'm getting some really bad audio stuttering whenever the source actives. same when I change to my scene that has the source (I'm using it as a background music shuffler in my chatting screen). Not sure if it's because it's audio only and not for videos. Any help would be greatly welcome.

[2021-07-16 23:22] jaredkotoff commented on #15
I think this is an issue independent of the tool. I have an alert source from a bot that plays mp3 file and they often stutter when they start playing. So i don't have any information on how to fix that myself either.

[2021-07-20 06:48] jaredkotoff commented on #15
So this might get fixed in OBS 27.1 so waiting might just be the solution.
I also read that if you set a custom frame rate on the browser source it might help in the meantime

[2021-07-26 02:11] #10 closed

[2021-09-05 02:26] proactivematter opened #18 "Question: How good is the randomness?"
Hey, thanks for this, it allows for really flexible ways to setup my stream!

The only thing I'd like to understand is regarding how effective the randomization actually is. I get the sense that my video order is fairly consistent across multiple refreshes. In my case I have a folder with 179 videos - I'd think that would be plenty for the algorithm to be effective. I took a look at the html sourc

[2021-09-06 00:27] jaredkotoff commented on #18
Randomness is based on the random algorithm used in the browser that your streaming software used.
In the case of OBS v27.0.1 it uses Javascript V8 engine version `7.4.288.28`
Here is the implementation of random function used by that version of V8: https://chromium.googlesource.com/v8/v8.git/+/refs/tags/7.4.288.28/src/math-random.cc

`Math.random()` is a pseudo-random number generator. You could

[2021-09-08 20:36] #18 closed

[2021-09-18 02:10] #14 closed

[2021-10-04 17:53] #11 closed

[2021-12-09 03:01] TheTawnyFool opened #28 "Running 2 instances"
Hi, I was just starting to use your script and was using in multiple scenes in OBS for different things. From what I can see it doesn't seem to support having it be used more in more then one spot due to the way it uses localstorage??

I made it work by manually adding

function getPlaylist() {
  let playlist = [];
  localStorage.clear();  // **THIS IS THE LINE I ADDED**
  try {

Have you tried th

[2021-12-09 17:02] jaredkotoff commented on #28
It's kind of like this by design. It was requested by a few users so it wouldn't replay the same video before playing all other videos first. It's possible I might add it as an option in the program but for now, what you did is probably going to be the correct solution.

[2021-12-09 18:41] TheTawnyFool commented on #28
I would recommend the option to name the playlist in the setup then.   It is your program of course so I only offer this as a suggested feature.
Thank you for putting it online and your time!
-Tony

    On Thursday, December 9, 2021, 11:02:15 AM CST, Jared Kotoff ***@***.***> wrote:

It's kind of like this by design. It was requested by a few users so it wouldn't replay the same video before playi

[2021-12-09 23:09] jaredkotoff commented on #28
I like that idea! Didn't think of that. I probably won't get to it any time soon but anyone is welcome to open a PR if they have any improvements.

[2021-12-09 23:11] jaredkotoff commented on #28
I just thought, you could also use the previous version: https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.1.1
It doesn't have the localstorage code for the playlists. Might work the way you need for now. Do think there was any feature changes that you'd notice iirc.

[2021-12-09 23:11] TheTawnyFool commented on #28
Cool, yeah it might satisfy both requests you seem to get from users without I am guessing a lot of coding work.  I might play around with it and contribute to the project.
Thanks again for your time.
-Tony

    On Thursday, December 9, 2021, 05:09:32 PM CST, Jared Kotoff ***@***.***> wrote:

I would recommend the option to name the playlist in the setup then. 

I like that idea! Didn't think of t

[2021-12-09 23:12] TheTawnyFool commented on #28
Oh wow, that is great, thanks for the suggestion.  I'll check it out!
-Tony

    On Thursday, December 9, 2021, 05:11:20 PM CST, Jared Kotoff ***@***.***> wrote:

I just thought, you could also use the previous version: https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.1.1
It doesn't have the localstorage code for the playlists. Might work the way you need for now. Do think there

[2022-01-17 17:21] Romarain opened #31 "Scan subfolder"
Hello,

Given that for hard-drive management purpose we are all driven to sort things in folders, a sub-folders scanning would be highly appreciated.

![2022-01-17_18h12m23s_obs-random-videos](https://user-images.githubusercontent.com/22033256/149813040-17ff2ac0-74d5-4193-ab4a-178de7883958.jpg)

Also, the possibility to link to nodes **that are outside the actual scope** would help to gather diffe

[2022-01-17 17:45] jaredkotoff commented on #31
Definitely could add the subfolder scanning.
I'm not sure if I'm going to attempt getting videos from external locations. But you could always edit the output HTML file and add more files if there are just a few video or you could re-run the program in each location and merge the arrays from each file into one.

[2022-01-17 17:56] Romarain commented on #31
Ok I'll take the idea of merging the arrays, until we have a solution. Thanks for the quick answer ;)
By the way (and to avoid creating another topic) :
- Does your program "update" the playlist if we add more videos in the folder(s) even if the playlist hasn't been fully played ?
- How does it cycle when the playlist is finished ? Do you propose a _loop_ feature ?

[2022-01-29 23:23] luminarodolphe opened #32 "Little problem of video display"
Hi,
First of all, great plugin, even if i have a problem i looked your code and it was nicely done with comments.
It's the only plugin i found to do the work this easily.

Unfortunately, if it seems that i follow your instruction, i'm facing a problem. When i launch the browser source in OBS studio, the plugin seems to be correctly called as i get the sound of the random video. But only the sound

[2022-01-30 10:31] jaredkotoff commented on #32
Few other people having the same issue: https://github.com/UpDownLeftDie/obs-random-videos/discussions/30#discussioncomment-2071005
Its hard to debug from my end since it seems to be issues only in OBS.
Im going to close this in favor of continuing the discussion in the forums.

[2022-01-30 10:31] #32 closed

[2022-02-15 02:17] #28 closed

[2022-02-22 17:03] SXRWahrheit opened #33 "Videos freeze after one play"
This is occurring after the latest OBS update. Log file: https://obsproject.com/logs/j1zsm73n2q5zQseW

[2022-02-23 04:38] CoTeCiO commented on #33
I found a temporary fix by editing the HTML file and removing the file path on the const videoFolder line, so you just leave it as const videoFolder = "";

That made the thing work for me again, but unfortunately now the browser source freezes whenever the first clip finishes and it goes to the second clip, it's the same source I used before and worked fine before the update.

[2022-02-24 01:46] larryseyer opened #34 "Only ONE instance works. Adding a 2nd always plays the first."

[2022-02-24 09:16] jaredkotoff commented on #34
Need more information. No idea what you're talking about.

[2022-02-25 04:33] Grey87 commented on #33
I'm having the exact same issues but changing that line isn't doing anything for me. Any ideas?

[2022-02-28 23:47] larryseyer commented on #34
Sorry, I'll try to be specific.
Mac OSX 10.15.7
OBS 27.2.1
Created obs-random-videos.html in folder "Subscribe Overlays" using obs-random-videos in Terminal...  This instance works just fine.

Created obs-random-videos.html in a different folder name "Cheers and Applause" using obs-random-videos in Terminal...  The .html file is created correctly.

HOWEVER

Loading obs-random-videos.html in the fo

[2022-02-28 23:48] larryseyer commented on #34
This COULD be an OBS issue, but I have no idea since OBS plays OTHER folders with no crossed file data.

[2022-03-03 17:52] FartKnockLife4Us opened #35 "No longer functioning after most recent OBS update"
Hi! I've been using this to run a BRB clipshow for about six months with no issues, but it no longer appears to be compatible after the most recent OBS update. My suspicion is that a change to the browser source is preventing autoplay, but I don't have the knowledge-base to really dig in a find out for sure

[2022-03-03 17:53] #35 closed

[2022-03-09 12:11] SSJGoten99 opened #36 "Freezes after a certain amount of videos play"
Ever since the new OBS update, the player freezes after a few videos play.

[2022-03-09 19:45] jaredkotoff commented on #36
Yea i have to look into see what they changed. Been getting a few reports of issues. Just haven't had time to look into this stuff. Thanks for noting this issue though

[2022-03-14 02:36] SubElement opened #38 "OBS Latest Update, MP3's don't play."
I used this to play random MP3s in the Intro and Outro on my stream and as per the title, with the latest OBS update this no longer works at all. Please let me know if you need anything else to help diagnose.

[2022-03-14 13:20] shaikhfaijan opened #39 "Blank Screen only"
Working fine in chrome but showing blank in OBS plz fix asap

<html>
  <head>
    <script>
      // @ts-check
const mediaFolder = /** @type {string} */ ("C:\\Users\\shaik\\Desktop\\video\\");
const initMediaFiles = /** @type {string[]} */ (["Parrot - 21309.mp4", "Titmouse - 30486.mp4", "romantic_-_103946 (Original).mp4", "swans_-_3109 (Original).mp4", "tit_-_32959 (Original).mp4"]);
const transiti

[2022-03-15 01:20] TBO1981 commented on #39
Same, guessing obs changed there browser settings,

[2022-03-15 10:43] derbartuc commented on #39
Also have this problem. Actually must have been the latest update. Didn't work for like 2 to 3 weeks now I think

[2022-03-15 11:03] derbartuc commented on #39
some changes were made for browser source and chromium was updated https://github.com/obsproject/obs-studio/releases/tag/27.2.3

[2022-03-15 11:08] shaikhfaijan commented on #39
let's wait for developer update

[2022-03-15 15:27] jaredkotoff commented on #39
Yea i just haven't had free time to look at this yet. I'm trying to get to it soon

[2022-03-16 01:35] retroNUC commented on #39
This issue here: https://github.com/obsproject/obs-studio/issues/5932

Further discussion on this thread: https://obsproject.com/forum/threads/27-2-browser-source-no-longer-html-css-will-no-longer-load-local-images-with-absolute-paths.153581/

[2022-03-16 21:11] jaredkotoff commented on #39
TL;DR
So sounds like a workaround for everyone in this thread is to edit the HTML file to use relative paths for their videos instead of the absolute paths.

@retroNUC ah nice this is super helpful! I noticed another overlay I made that used a custom font wasn't loading the font. So i was confused as to what OBS had changes that would break something that simple.
Hopefully, it'll get fixed in the

[2022-03-16 21:38] TerrorVan commented on #39
Hey Jared,

I've read the attached threads and comments, but i'm not quite seeing what the filepath needs to be changed to. Right now for example, the line within my HTML file is:

`const mediaFolder = /** @type {string} */ ("C:\\Users\\TerrorVan\\Desktop\\Pop-Up Video\\");`

What should it be manually changed to for it to work correctly?

[2022-03-16 22:16] jaredkotoff commented on #39
The issue is if you're going to be using relative paths: I don't know. It depends on where your videos are relative to your OBS installation. The easiest thing would be to move the video folder to the same as your OBS and try something like
`const mediaFolder = /** @type {string} */ ("./Pop-Up video");`

Alternatively, there's a comment in the obs forum post that shows something like this:
`const

[2022-03-17 08:03] jaredkotoff commented on #33
Try new release: https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.0

[2022-03-17 08:04] jaredkotoff commented on #31
@Romarain now supported in [v3.3.0](https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.0)

[2022-03-17 08:05] jaredkotoff commented on #36
I think this is a dupe of https://github.com/UpDownLeftDie/obs-random-videos/issues/33 so I'm going to close this.
Try the newest release https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.0 and comment back if youre still haveing issues

[2022-03-17 08:05] #36 closed

[2022-03-17 08:05] jaredkotoff commented on #38
I think this is a dupe of https://github.com/UpDownLeftDie/obs-random-videos/issues/33 so I'm going to close this.
Try the newest release https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.0 and comment back if youre still haveing issues

[2022-03-17 08:05] jaredkotoff commented on #39
I think this is a dupe of https://github.com/UpDownLeftDie/obs-random-videos/issues/33 so I'm going to close this.
Try the newest release https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.0 and comment back if you're still having issues

[2022-03-17 08:06] jaredkotoff commented on #35
@FartKnockLife4Us try newest release https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.0

[2022-03-17 08:13] TBO1981 commented on #33
g2g so far, thanks

[2022-03-17 08:15] shaikhfaijan commented on #39
Sorry to say but still not working.
OBS 27.2.3 64 Bit
Black Screen Only
Working Fine In Chrome.

Code :

<html>
  <head>
    <script>
      // @ts-check
const initMediaFiles = /** @type {string[]} */ (["http:\\\\absolute\\C:\\Users\\shaik\\Desktop\\New folder (4)\\Ave - 26974.mp4", "http:\\\\absolute\\C:\\Users\\shaik\\Desktop\\New folder (4)\\Bird - 44017.mp4", "http:\\\\absolute\\C:\\Users\\shai

[2022-03-17 08:17] shaikhfaijan commented on #33
![image](https://user-images.githubusercontent.com/3850549/158766093-33d2024e-f62c-4040-879c-fa67c1012f7c.png)

Not Working showing blank screen only.

[2022-03-17 08:21] TerrorVan commented on #33
This update did not fix the issue for me, either.

[2022-03-17 08:24] TBO1981 commented on #33
100% working on my end, idk, did you guess delete the old files or just overwrite them? also I ran as admin

[2022-03-17 08:30] TerrorVan commented on #33
I ran it as admin and now it doesn't work at all, in OBS or in Chrome. I tried a few things and now I can't get it to work in Chrome again.

[2022-03-17 08:38] shaikhfaijan commented on #33
Sorry to say but still not working.
OBS 27.2.3 64 Bit
Black Screen Only
Working Fine In Chrome.

[2022-03-17 08:44] TerrorVan commented on #33
Making a new post to report that I got the freeze issue now, which never happened to me before after letting it go for over ten minutes of 30-60 second clips on the previous version.

[2022-03-17 09:02] jaredkotoff commented on #39
@shaikhfaijan you need to zip me you're entire folder cause pasting the code that i wrote doesn't help me

[2022-03-17 09:05] jaredkotoff commented on #33
Yes, this uses local storage in chrome so you need to "drain" your current playlist to get it to properly refresh, which you're doing when you mash the refresh. So I'll need to add some kind of reset function to help people get to a normal state cause if state is so bad you can't drain the queue I'm not sure how you'd get out of it.

People who its not working for, can you try deleting and re-addi

[2022-03-17 09:13] shaikhfaijan commented on #39
https://drive.google.com/file/d/1GbA1bf8o8cSdt4uaYp2LzrjSzj0tLIpd/view?usp=sharing

Plz, Check the zip file.

[2022-03-17 09:21] TerrorVan commented on #33
This is good to know because my playlist is 31 videos and growing.

[2022-03-17 09:29] jaredkotoff commented on #39
This is working fine for me. So try hitting the "Refresh cache of current page" at least 10 times and see if that fixes it.
![image](https://user-images.githubusercontent.com/3268576/158779326-85ca6340-982c-41d4-bea9-edf608ff1c04.png)

If not I think I know understand the issue or at least noticed another one and will try to get another fix out in v3.3.1

[2022-03-17 09:34] shaikhfaijan commented on #39
![image](https://user-images.githubusercontent.com/3850549/158780103-8821a914-2b90-4196-a607-ce11d88b125d.png)

Bro Its showing Blank Only. I have hit Refresh Cache 20 Times 😁

Can you plz share your obs version ?

[2022-03-17 09:34] jaredkotoff commented on #33
TL;DR
For now: mash the` refresh cache of current page` button on the browser source and let me know if you're still stuck.

Lmao yeah, so that's kind of the reason: you got 31 videos and this keeps it so you actually see ALL 31 videos before you see a repeat.

But I just found out some core issues now with how OBS is handling this: I'm not sure how to clear the state or reset it atm without just

[2022-03-17 09:48] jaredkotoff commented on #39
OBS `27.2.3`
Are you sure your 6 videos are located at:
`C:\Users\shaik\Desktop\New folder (4)\`

![image](https://user-images.githubusercontent.com/3268576/158782011-8ddba7f8-4e5f-45e2-b6a6-a8fe72c52627.png)

I made a folder on my desktop named `New folder (4)` and put the contents of your zip in there, changed `shaik` to my username in the file paths and it worked.
If it's still not working then

[2022-03-17 10:07] RogueRaidenTV opened #40 "3.3.0 Checks more than just sub directories for files"
In my setup I have several folders next to each other for different scenes such as Background Clips and BRB Clips, with their own generated html files. Seems its reading directories outside of the one it is in and not just sub directories.

[2022-03-17 10:11] shaikhfaijan commented on #39
Yes, I am sure my files are in the same folder.
I have cleared application data for http://localhost:9090/

I am ready to share my TeamViewer or if you want a screen record please tell me.

Thanks

[2022-03-17 10:14] shaikhfaijan commented on #39
Bro its working fine in my other PC 😒
I follow the same steps and the version is also same.

[2022-03-17 10:15] shaikhfaijan commented on #39
OMG! its also working on my PC. I have hit 30+ times refresh button now it's working. Let's fix this issue in the next update.

[2022-03-17 15:36] SubElement commented on #38
Hey @jaredkotoff, thanks for the update, but looks like I'm still having issues. I use this to just randomly play MP3s in a directory for my "Starting Soon" and "Ending Soon" scene in OBS. Worked totally fine prior to the latest update to OBS, but even with your updated program it just doesn't play MP3 files at all.

Once again if you need anything else, please let me know.

[2022-03-17 16:44] jaredkotoff commented on #40
So right now there's an issue with OBS and how I store the state of the script which doesn't let you use this more than once. I'm going to try to get a fix out for this in 3.3.1.
Can you confirm whether the HTML files being generated are correct and it's just that in OBS your sources are behaving weirdly?

[2022-03-17 16:47] jaredkotoff commented on #39
Glad to hear that was the issue. Yea 3.3.1 I plan to try to figure something out so people don't have to mash the refresh lol.
For future reference: I'll respond quicker on Guilded (link on the main page readme)

[2022-03-17 16:47] #39 closed

[2022-03-17 17:02] RogueRaidenTV commented on #40
Before the recent OBS issues with all this, the separate folders with multiple setups worked great. Now both sources show the same set of clips, but not the same order. If I click the "refresh browser cache" enough times with the erroring source, it switches both sources to the other set of clips.

[2022-03-17 17:13] jaredkotoff commented on #40
Yea that's the issue attempted to describe above and need to create a fix for.

What is happening is that I store the playlist queue state in the browser's `localstorage` and this is set per-domain.
OBS changed how they read files or something so now the "domain" for all browser sources for local files looks like they're the same: `http://absolute` (or something like that) which causes this projec

[2022-03-17 23:23] SubElement commented on #38
Hey @jaredkotoff! I totally forgot that button exists. You’re right, as soon as I refreshed the cache it started working.

But now I’ve come in to a totally seperate issue (unless I’m missing something I did previously), but it used to play through all the MP3 files in the directory randomly. Now it just plays one song and stops. Is there a setup parameter in forgetting from when I used the progra

[2022-03-20 17:56] munt-kaicho opened #41 "Not working on 27.2.3"
Tried the latest release but it still has the same issue as the previous one for me.
Program properly detects all the videos and generates proper filepaths but the source is blank in OBS.

[2022-03-20 17:57] munt-kaicho commented on #41
Looks like the fix was spamming refresh on the source for a bit.

[2022-03-20 23:21] #41 closed

[2022-03-21 08:26] jaredkotoff commented on #38
The first question it asks when using the program

[2022-03-21 09:35] SubElement commented on #38
Hey, sorry if I wasn't clear. Even if I answer no to this question, it still only plays one file then stops.

[2022-03-21 09:37] jaredkotoff commented on #40
Try https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.1 now

[2022-03-21 09:37] #40 closed

[2022-03-21 09:37] #31 closed

[2022-03-21 09:38] jaredkotoff commented on #34
Should be working on https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.1

[2022-03-21 09:38] #34 closed

[2022-03-21 09:39] jaredkotoff commented on #38
Just to make sure: test with newest release again https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.1
Then if it's still not working, can you zip up your folder and past it here so I can take a look?
A few people reported this issue but I haven't been able to replicate it myself

[2022-03-21 09:41] jaredkotoff commented on #33
https://github.com/UpDownLeftDie/obs-random-videos/releases/tag/v3.3.1 should really help with having to mash the button.

Each time you run the program, any change at all, will generate a new hash and store that sepeartly. So adding or removing a video as well as changing any of the settings in the program will give you a "fresh" instance.

This also lets you had more than 1 of these sources agai

[2022-03-21 10:18] SubElement commented on #38
Hey! Just tried with version 3.3.1 and now everything is working as expected again. Don't know what you updated, but thank you for the support, I appreciate it! :)

[2022-03-21 10:29] SubElement commented on #38
Wait, scratch that, it's now no longer working? Plays one MP3 then stops again... Let me test further.

[2022-03-21 10:57] SubElement commented on #38
Yeah, at best it plays a few files now. https://drive.google.com/file/d/1K4DU8b43ZnQJUrlH6-V8SMtAPJ_5nzEI/view?usp=sharing

There is a link to my folder zipped.

[2022-03-21 14:04] TerrorVan commented on #33
I was able to update my video playlist no problem but i'm still getting the freeze after about two minutes of play.

[2022-03-21 14:12] shaikhfaijan commented on #33
yes fridge frame after sometime

[2022-03-21 15:04] Metriel opened #42 "Playback Freezes after 1 video, second video freezes after 1 second."
The first video always plays just fine, but the second one always freezes. I go in and refresh the cache page and that hasn't done anything to help. Just wanted to put this out there that the problem is still happening.

[2022-03-21 15:40] jaredkotoff commented on #42
I think these issues are specific to machines.
Could you [open debugging](https://github.com/crowbartools/Firebot/wiki/Troubleshooting-Firebot-Overlay-issues-in-OBS-Studio) and post a screenshot of the console? I'm hoping there's some errors in there or something

[2022-03-21 17:20] Metriel commented on #42
When I follow that, and click on the autoplayer source in the list, it comes to a blank screen on my browser. Any of the links on the debug page come to a blank page.

[2022-03-21 17:37] Metriel commented on #42
Scratch that. It wasn't working in firefox, I used Edge and it came up.
![OBSerror](https://user-images.githubusercontent.com/102046255/159331709-f5aa053d-7499-43bc-afdd-c04d4558d7f8.png)

[2022-03-21 18:04] TBO1981 commented on #33
I had the same issue after the update, going to covert all vid files to webm and see if it helps

[2022-03-21 18:50] SXRWahrheit commented on #33
I have the same freezing issue after updating.

[2022-03-21 19:11] Metriel commented on #42
Alright thanks for the quick updates on this, I wish you the best on it. Let me know if you need me to test another update or something.

[2022-03-22 23:11] Romarain commented on #31
@jaredkotoff  Ok thank you ! ;) I appreciate.
By the way : I was thinking of improving your project by creating a kind of **configuration file**, for users to specify different paths to scan. I was also thinking about an interface to create different "profile" of HTML files, allowing users to select one and generate the HTML at a specific moment so they can litterally "program" their _TV_. Of cour

[2022-03-25 19:47] SXRWahrheit commented on #33
Is there anything we can do to help you debug this further or otherwise facilitate a resolution?

[2022-03-25 20:44] jaredkotoff commented on #33
If it's an absolute breaker for you, then I'd recommend rolling OBS back to a working version.
The only thing that could help is if anyone finds information related to this issue I can reference when I'm looking. It looks like has to do with a bug in Chromium Embedded Framework (CEF) that was probably updated in OBS. If there are known solution or a workaround found elsewhere that I could implemen

[2022-03-25 21:06] SXRWahrheit commented on #33
I got the debugger set up myself and replicated the same error the user in the other issue encountered. I'll see if I can find other reports of this issue, although my searching so far suggests that the browser thinks the file is empty or does not exist. (I can assure you it does exist.)

![2022-03-25 16_05_20-](https://user-images.githubusercontent.com/774463/160200662-1ee22d7d-fe09-4e6b-9105-4af

[2022-03-25 21:26] jaredkotoff commented on #33
exactly. if you refresh and that file is first it works fine. it somehow fails to load new files. the only thing I found related to this was a pretty old post on chromium forums with someone saying "this is been a bug for 10 years" so not hopeful.
another thing too look at is what version of CEF was OBS using before when it worked and what the first version of CEF that broke for us? That could giv

[2022-03-25 21:40] SXRWahrheit commented on #33
The network resources are reporting they are stalled, and it looks like the next resource attempts to load before the prior one is complete. Is it possible this is a load priority issue?

[2022-04-02 14:36] SXRWahrheit commented on #33
Does anyone know what the last working version of OBS with this app was? At this point I need to try a rollback.

[2022-04-02 14:52] SXRWahrheit commented on #33
Actually, downgrading isn't viable because Twitch connections no longer work on versions before 27.2.

[2022-04-02 21:11] jaredkotoff commented on #33
That's not a requirement. You can use a stream key to stream and SE.live for a chat.

[2022-04-03 13:17] munt-kaicho opened #43 "Transition videos not working"
If use the transition video functionality, the source just disappears offscreen after playing the first file

[2022-04-03 21:53] jaredkotoff commented on #43
This i most likely related to the other issue that broke with newer OBS. It's currently breaking when trying to play multiple videos. I don't have an ETA for a fix as I'm very busy and still trying to figure out something that works. My only advice right now is to install an older version of OBS that works

[2022-04-03 21:54] munt-kaicho commented on #43
Appreciate the work. Just downgraded to 27.1.3 for now, everything runs fine.

[2022-04-03 21:56] jaredkotoff commented on #43
I post status updates in my Guilded. but keep an eye on the project. Next version I release will be aimed at fixing this

[2022-04-03 21:56] #43 closed

[2022-04-06 21:34] TerrorVan commented on #33
<img width="945" alt="nimoy" src="https://user-images.githubusercontent.com/78616578/162074913-446e8c66-30f1-4f40-9cbb-b3f0c036bbc3.png">

I'm not a programmer, but from what I believe i've figured out from poking at it is that there is either an issue with the cache (in which case can you manually load every video into one shuffled playlist within the script?) or there's an issue with how it is p

[2022-04-07 00:47] jaredkotoff commented on #33
@TerrorVan what version of the project are you using? Have you tried the pre-release?

[2022-04-10 16:24] TerrorVan commented on #33
I tried the pre-release and now i'm having an issue where it is stopping after every video.

[2022-04-11 21:08] jaredkotoff commented on #33
Yea 3.4.0 is a miss. I'll just delete that pre-release. Ill try to get it right with 3.4.1

[2022-04-15 05:08] TerrorVan commented on #33
I had a thought, wondering how viable it is:

Could you make it such that the script refreshed the page after every video?

[2022-04-16 13:57] TerrorVan commented on #33
@jaredkotoff Tagging you directly for a hot update:

I talked to a buddy of mine that's much more well-versed in code than I and I suggested refreshing the page after every video.

I added location.reload(); to your code for playing one video, and it now plays several videos before it'll freeze. Can you change the code to preserve the playlist, then reload the script such that it just plays the ne

[2022-04-16 16:38] SXRWahrheit commented on #33
If anyone else is using modern versions of OBS, a VLC source lets you point at a folder and play shuffled videos. Been working great for me.

[2022-04-16 17:14] TerrorVan commented on #33
I tried this out with up-to-date versions of all programs involved and it was abruptly cutting the audio and video at the end of each of my clips.

[2022-04-18 03:32] jaredkotoff commented on #33
@TerrorVan ill take a look at that Network.enable method
The only reason i dont want to use page refresh is that it'll break future plan to support cross fading between videos. It might be a good workaround for now but ive been trying to fully understand and solve the problem at hand.

@SXRWahrheit thanks for the update info on that i haven't checked the VLC source in a while. I'll probably update

[2022-04-18 06:09] SubElement commented on #38
Have you had a chance to check anything out @jaredkotoff? 😄

[2022-04-18 08:10] jaredkotoff commented on #38
@jaredkotoff yea i posted 3.4.1 for testing, people are reporting it still freezes after a few frames for videos though

[2022-04-18 11:41] SubElement commented on #38
Oh I totally missed that, sorry @jaredkotoff. Let me give it a test!

[2022-04-18 11:53] SubElement commented on #38
Yeah same thing as before unfortunately @jaredkotoff. Plays a couple of songs, then just stops randomly. :(

[2022-04-27 11:18] Warren-0 commented on #42
Can confirm in latest obs after 1st playback, stops.

[2022-04-27 19:45] jaredkotoff commented on #42
😮‍💨

[2022-06-11 17:17] 4Sol opened #46 "Nothing is working, blank white page in Chrome, nothing shown in OBS"
Well Title pretty much says everything.

I hit yes for the 1st question and changed nothing in the code.

File Path:
`const initMediaFiles = /** @type {string[]} */ (["D:\\ART\\000. OBS Recordings\\RENDER from VEGAS\\01. CAT GIRL - 2022-05-29 14-59-50.mp4", "D:\\ART\\000. OBS Recordings\\RENDER from VEGAS\\02. Girl With a GUN - 2022-06-08 20-09-40.mp4"]);`

[2022-06-11 22:50] jaredkotoff commented on #46
First, make sure you're using the [latest version/beta (currently 3.4.1)](https://github.com/UpDownLeftDie/obs-random-videos/releases)
Second, this is an ongoing issue that OBS broke a lot of this and a duplicate of #33 and actively being discussed on my Guilded server

[2022-06-11 22:50] #46 closed

[2022-06-20 03:37] #38 closed

[2022-06-20 03:37] #42 closed

[2022-06-28 03:23] #33 closed

[2022-11-07 20:08] proactivematter opened #47 "MAC Version Doesn't Generate HTML"
Hey,

I've been using obs-ramdom-videos on Windows - including the latest version - fine for the past year or so, but can't get it to work on my Mac.

I've tested in a couple of different ways - including only using one video and changing directories - but the Mac version doesn't ever generate an HTML file.

Running Monterrey 12.6 on a MBP 16" M1 Max.

Happy to provide further information if neede

[2022-11-07 20:13] proactivematter commented on #47
So, I've tried to test previous versions (up to 3.3) and none of them seem to be generating the file. I wonder if these never were tested or if it could be something else?

[2022-11-07 20:15] jaredkotoff commented on #47
I wrote this on a Mac so it definitely does work. How are you running the program?

[2022-11-07 20:21] proactivematter commented on #47
Thanks for the lightning-fast reply Jared. I'm doing it the same as on Windows. Just about as basic as it gets:

- Extract
- Move Executable into a directory filled only with MP4s
- CTRL+RightClick to run it (first time only) and then follow through with the questions.

Do you have any suggestions?

[2022-11-07 20:24] jaredkotoff commented on #47
It'll drop the html in you home directory if youre just clicking on it.
It's a quirk I never worked out for Mac (probably just need to read current directory differently).
It's a command line tools, so it's meant to be used via terminal anyways.

[2022-11-07 20:31] proactivematter commented on #47
Yes!!! I was just about to write back and report that I found it in the home directory upon running ls -la. Very quirky indeed. And yes, I am but a humble meddler of code. Slowly learning to navigate through the terminal exclusively. Appreciate your help! Love this tool, being able to choose a video to play in between all other videos allows for some awesome stuff.

[2022-11-07 20:31] #47 closed

[2022-11-13 20:31] Darkonmaze opened #48 "I have the video playing but it keeps freezing"
Hello. I am using obs studio and the video keeps freezing...